<div *ngIf="error" class="alert alert-danger" role="alert">
  <strong>An error occurred </strong> {{error}}
</div>
<br />
<br />
<div class="row fBox">
  <div class="col-md-5 align-self-center">
    <form [formGroup]="Form" (ngSubmit)="onsubmit()">
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-envelope-o"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Email"
          formControlName="email"
        />
        <small *ngIf="!Form.get('email').valid && Form.get('email').touched"
          class="form-text text-danger w-100"
          >Please Enter Email</small
        >
      </div>
      <div class="form-group input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <i class="fa fa-lock"></i>
          </span>
        </div>
        <input
          type="text"
          class="form-control"
          placeholder="Enter password"
          formControlName="password"
        />
        <small *ngIf="!Form.get('password').valid && Form.get('password').touched" class="form-text text-danger w-100"
          >Please Enter Password</small
        >
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-block btn-primary">
          {{ loginMode ? "Sign In" : "Create one" }}
        </button>
      </div>
      <p class="mb-0">
        {{ loginMode ? "Dont Have Account ?" : "Already Have Account ?" }}
        <a href="#" (click)="onModeSwitch()">
          {{loginMode ? "Create Account" : "Sign In" }}
        </a>
      </p>
      <a href="#">Forget Password</a>
    </form>
  </div>
</div>
