<div class="page-area">
    <div class="text-center">
        <h2>Products</h2>
        <p>Abstract art uses visual language of shape, form, color and line to create a composition which may exist with a degree of independence from visual references in the world.</p>
            <hr class="mbd-3">    
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/A.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Abstract Nature</h5>
                  <p class="card-text">Abstract art, non-figurative art, non-objective art,!!</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/C.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nature</h5>
                  <p class="card-text"> They are similar, but perhaps not of identical meaning</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/E.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Nature Animal</h5>
                  <p class="card-text">and non-representational art, are closely related terms. They are similar,!!!!</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/F.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Reptiles Nature</h5>
                  <p class="card-text">Abstraction indicates a departure from reality in depiction of imagery in art. !!.</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
        </div>
        <div class="col-md-12">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/Cake.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Sweet Sensation</h5>
                  <p class="card-text">provides celebration cakes that are unique in style</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/Cake2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Binny</h5>
                  <p class="card-text">provides celebration cakes that are unique in style for kids</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/Hijab.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Hijab</h5>
                  <p class="card-text">Islamic female dress</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img src="../../assets/Hi2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">In Islamic scripturee</h5>
                  <p class="card-text">Cultural Harmoney!!!!</p>
                  <a href="#" class="btn btn-success">Know More</a>
                </div>  
              </div>
        </div>
    </div>
</div>
